.back{
    background: #b5c99a;
}


.navigation {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 25%;
}

.logo{
    width: 50px;
    height: 50px;
}

.variants{
    background-color: #a3b18a;
    width: 190px;
    height: 50px;
    border-radius: 6%;
}

.background{
    width: 100%;
   margin-top:2%;
   height:450px;
}


a.button {
  background: #b5c99a;
  color: #fff;
  padding: 12px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 19px;
  line-height: 1;
  font-weight: 100;
  border: 3px solid #718355;
}

a.button2 {
  background: #b5c99a;
  color: #fff;
  padding: 12px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 19px;
  line-height: 1;
  font-weight: 100;
  border: 3px solid #718355;
}

a.button3 {
  background: #b5c99a;
  color: #fff;
  padding: 12px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 19px;
  line-height: 1;
  font-weight: 100;
  border: 3px solid #718355;
}


.center-both {
  display: grid;
  place-items: center;
  border: 3px solid #718355;
  background: #b5c99a;
  margin-top:30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки равной ширины */
  gap: 20px;
}

.photo {
  width: 100%; 
  height: 400px; 
  
  margin-top:30px;
}

.foot{
    background: #718355;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 50%;
    margin-top:70px;
}

